<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="diva">
        <h1>Registracija</h1>
    </div>
    
    
    <form action="/registracija"method="POST">
        <input id="registracija2" name="registracija2" value="usser name">
        <br>
        <br>
        <input class=button type="submit" value="Submit">
    </form> 
    <form action="/registracija"method="POST">
        <input id="registracija2" name="registracija2" value="password">
        <br>
        <br>
        <input class=button type="submit" value="Submit">
    </form>  
</body>
</html>